*,
*::before,
*::after {
  box-sizing: border-box;
    margin: 0;
  padding: 0;

}

html {
  font-size: 62.5%;
}

.flex {
  display: flex;
}

.content-container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

body {
  background-color: #0E0E0E;
  color: #2E2E2F;
  font-family: 'Inter', sans-serif;
}

/* Header Styles */

header {
  align-items: center;
  background-image: url(images/movie-bg.png);
  background-size: cover;
  background-position: center;
  height: 30rem;
}

.header-text {
  align-items: baseline;
  color: #fff;
  justify-content: space-between;
  text-shadow: 0px 0px 3rem grey;
}

.header-text h1 {
  font-size: 5rem;
  font-weight: 800;
}

.header-text a {
  color: inherit;
  font-size: 2.5rem;
  font-weight: 700;
  text-decoration: none;
}

/* Search Bar */

.search-bar {
  border-radius: 8px;
  background-color: #2E2E2F;
  margin-top: -25px;
}

.search-bar * {
  font-size: 2.5rem;
  font-family: inherit;
}

.search-bar img {
  align-self: center; 
  height: 25px;
  margin-left: 2rem;
  width: 25px;
}

.search-bar input {
  background-color: #2E2E2F;
  border: none;
  color: #9CA3AF;
  flex-grow: 2;
  padding: 1rem;
  outline: none;
}

.search-bar button {
  background-color: #4B4B4B;
  border: none;
  color: #fff;
  cursor: pointer;
  flex-grow: 1;
  border-radius: 0px 8px 8px 0px;

}

/* Movie List */

.movie-list {
padding: 2rem 0;
min-height: calc(70vh - 60px)
}

.empty-list-msg {
  align-items: center;
  flex-direction: column;
  height: calc(70vh - 100px);
  justify-content: center;
  margin: auto;
}

.empty-list-msg p {
  color: #2E2E2F;
  font-size: 2.5rem;
  margin: 20px, 0px;
}

.empty-list-msg a {
  color: inherit;
  text-decoration: none;
}

.empty-list-msg span {
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  font-weight: 700;
  height: 25px;
  text-align: center;
  width: 25px;
}

.film-icon {
  width: 80px;
}

/* Movie List Styles */

.movie {
  align-items: flex-start;
  border-bottom: 1px solid #fff;
  Gap: 1rem;
  padding: 2rem 0;
}

.poster {
  height: 186px;
  width: 125px;
}

.info {
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}

.row {
  color: #fff;
  font-size: 2rem;
  gap: 1rem;
}

.row:first-of-type {
  align-items: baseline;
}

.row * {
  margin: 0;
}

.plot {
  color: #A5A5A5;
  font-size: 1.5rem;
  text-overflow: ellipsis;
}

.watchlist-action {
  align-self: center;
}

.watchlist-btn {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  font-size: 2.5rem;
  height: 40px;
  width: 40px;

}

